<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <title>My Website - About</title>
</head>
<body>
    <img src ="{{url_for('static',filename= 'Randowis.png')}}"  alt="randowis_comics"/>
    <h1>William Whitelocke</h1>
    <p>My name is William Whitelocke. Currently, I am 22 years old. 
    At the end of this semester, I will be graduating for the University of the West Indies. 
    I hope that my time at the University has allowed me to have enough knowlege
    and versitility to aid in persuing and furthing my carrer.</p>
</body>
</html> 